@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;800&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Mulish", sans-serif;
}

/* Start Header Section */

.header {
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url(./img/banner.png);
  background-position: center;
  width: 81.25%;
  height: 500px;
  border-radius: 16px;
  max-width: 1170px;
  margin: auto;
  margin-top: 146px;
}

.banner-text {
  width: 596px;
  margin: auto;
  padding-top: 106px;
}

.text h4 {
  color: #fff;
  font-family: Mulish;
  font-size: 64px;
  font-weight: 800;
}

.text p {
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 24px;
}

.btn-background {
  width: 800px;
  height: 84px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin: auto;
  margin-top: 48px;
}

.menu > input {
  width: 170px;
  height: 52px;
  border-radius: 8px;
  border: none;
}

.where-go {
  color: rgba(19, 19, 24, 0.5);
  font-family: Mulish;
  font-size: 14px;
  padding: 0px 6px;
}
.menu > select {
  width: 172px;
  height: 52px;
  border-radius: 8px;
  border: none;
}
.menu > button {
  width: 172px;
  height: 52px;
  border-radius: 8px;
  border: none;
}

.find-now {
  background-color: #ff5400;
  color: #fff;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 500;
}

/* Popular tour section start */
.popular-tour-section {
  width: 81.25%;
  height: 550px;
  max-width: 1170px;
  margin: auto;
  margin-top: 100px;
  display: flex;
  gap: 5rem;
}

.popular-tour-section-div {
  width: 55%;
  height: 6940px;
}

.popular-tour-section-div h4 {
  font-family: Mulish;
  font-size: 40px;
  font-weight: 800;
}

.popular-tour-section-div p {
  color: rgba(19, 19, 24, 0.7);
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 24px;
}

.popular-tour-section-div ul {
  color: rgba(19, 19, 24, 0.7);
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 24px;
}

.popular-tour-section-div button {
  background-color: #ff5400;
  border-radius: 8px;
  width: 174px;
  height: 52px;
  margin-top: 32px;
  color: #fff;
  font-family: Mulish;
  font-size: 20px;
  font-weight: 800;
  border: none;
  box-shadow: 1px 2px 9px -1px rgb(82, 82, 82);
}

.popular-tour-section-div button:hover {
  box-shadow: 1px 2px 9px 2px black;
  background-color: #f76a23;
}

.popular-tour-section-img {
  width: 530px;
  height: 550px;
}

/* Start Choose Your Destination section */

.choose-your-destination-section {
  width: 81.25%;
  max-width: 1170px;
  margin: auto;
  margin-top: 100px;
}

.destination-section-text h4 {
  text-align: center;
  font-family: Mulish;
  font-size: 40px;
  font-weight: 800;
}

.destination-section-text p {
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 50px;
}

.destination-section-img {
  display: grid;
  grid-template-areas:
    "box1 box1 box1 box1 box1 box1 box2 box2 box2 box2 box2 box2"
    "box3 box3 box3 box3 box4 box4 box4 box4 box4 box5 box5 box5"
    "box6 box6 box6 box6 box6 box7 box7 box7 box7 box7 box7 box7";
  gap: 24px;
  justify-content: center;
}
.destination-section-img img {
  width: 100%;
}
.box1 {
  width: 573px;
  /* height: 300px; */
  grid-area: box1;
}

.box2 {
  width: 573px;
  /* height: 300px; */
  grid-area: box2;
}
.box3 {
  width: 374px;
  /* height: 286px; */
  grid-area: box3;
}
.box4 {
  width: 474px;
  /* height: 286px; */
  grid-area: box4;
}
.box5 {
  width: 276px;
  grid-area: box5;
}
.box6 {
  width: 473px;
  /* height: 300px; */
  grid-area: box6;
}
.box7 {
  width: 673px;
  /* height: 300px; */
  grid-area: box7;
}

/* why choose us section */

.why-choose-us {
  width: 81.25%;
  max-width: 1170px;
  margin: auto;
  margin-top: 100px;
}

.why-choose-us-text h4 {
  text-align: center;
  font-family: Mulish;
  font-size: 40px;
  font-weight: 800;
}

.why-choose-us-text p {
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 24px;
}

.choose-us-card {
  display: flex;
  gap: 24px;
  margin-top: 48px;
}

.hotel-div {
  width: 573px;
  height: 284px;
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
  padding: 32px;
}

.map-div {
  width: 573px;
  height: 284px;
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
  padding: 32px;
}

.price-tag-div {
  width: 573px;
  height: 284px;
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
  margin: auto;
  margin-top: 24px;
  padding: 32px;
}

.design {
  color: #131318;
  font-family: Mulish;
  font-size: 24px;
  font-weight: 800;
  margin-top: 32px;
}

.p-design {
  color: #5a5a5d;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 16px;
}

/* newsletter section start */

.newsletter-section {
  width: 81.25%;
  max-width: 1170px;
  margin: auto;
  margin-top: 80px;
  align-items: center;
}

.parent {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.parent .left-div {
  width: 480px;
  height: 340px;
  border-radius: 16px;
  border: 1px solid #ff5400;
  padding: 40px;
}

.left-div h4 {
  color: #131318;
  font-family: Mulish;
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 16px;
}

.left-div p {
  color: #5a5a5d;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 24px;
}

.left-div hr {
  background-color: rgba(19, 19, 24, 0.1);
  margin-bottom: 24px;
}

.left-div input {
  width: 393px;
  /* height: 52px; */
  border-radius: 8px;
  background-color: rgba(19, 19, 24, 0.05);
  padding: 1rem;
  border: none;
  outline: none;
}

.left-div button {
  width: 422px;
  height: 52px;
  border-radius: 8px;
  background-color: #ff5400;
  color: #fff;
  font-family: Mulish;
  font-size: 20px;
  font-weight: 800;
  border: none;
}

.parent .right-div {
  width: 672px;
  height: 300px;
}

.right-div .travel {
  width: 312px;
  height: 100px;
  transform: rotate(-23.728deg);
  border-radius: 16px;
  background: #ff5400;
  text-align: center;
  padding-top: 1rem;
 
}
.travel{
  position: relative;
  top: -11rem;
  right: -22rem;
}

.travel h5 {
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 4px;
}

.travel h2 {
  color: #fff;
  font-family: Mulish;
  font-size: 32px;
  font-weight: 800;
  
}

/* Responsive media query */

@media screen and (max-width: 600px) {
  /* Header Section */
  .header {
    width: 90%;
  }
  .banner-text {
    width: 205px;
    margin: auto;
    padding-top: 32px;
  }
  .text h4 {
    font-size: 22px;
  }
  .text p {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    margin-top: 8px;
  }
  .btn-background {
    display: flex;
    flex-direction: column;
    width: 287px;
    height: 290px;
    margin-top: 20px;
  }

  .menu > input {
    width: 255px;
    height: 50px;
    margin-top: 20px;
  }

  .menu > select {
    width: 255px;
    height: 50px;
  }
  .menu > button {
    width: 255px;
    height: 50px;
    margin-bottom: 20px;
  }

  /* Popular tour section */
  .popular-tour-section {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 24px;
  }
  .popular-tour-section-div {
    width: 320px;
  }

  .popular-tour-section-div h4 {
    font-size: 20px;
  }

  .popular-tour-section-div p {
    font-size: 14px;
    line-height: 24px;
    margin-top: 16px;
  }

  .popular-tour-section-div ul {
    font-size: 14px;
    line-height: 24px;
    margin-left: 18px;
  }

  .popular-tour-section-div button {
    width: 160px;
    height: 50px;
    margin-top: 24px;
    font-size: 20px;
    box-shadow: 1px 2px 9px -1px rgb(82, 82, 82);
  }

  .popular-tour-section-div button:hover {
    box-shadow: 1px 2px 9px 2px black;
    background-color: #f76a23;
  }

  .popular-tour-section-img {
    width: 350px;
    height: 342px;
  }
  .popular-tour-section-img img {
    width: 96%;
    height: 400px;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    padding: 10px;
  }

  /* Destination section start */

  .choose-your-destination-section {
    width: 90%;
    margin: auto;
    margin-top: 28rem;
  }

  .destination-section-text h4 {
    font-size: 20px;
  }

  .destination-section-text p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 16px;
  }

  .destination-section-img {
    display: grid;
    grid-template-areas:
      "box1"
      "box2"
      "box3"
      "box4"
      "box5"
      "box6"
      "box7";
    gap: 16px;
    margin-top: 16px;
  }
  .destination-section-img img {
    width: 100%;
    height: 100%;
  }
  .box1 {
    width: 335px;
    height: 176px;
    grid-area: box1;
  }

  .box2 {
    width: 335px;
    height: 176px;
    grid-area: box2;
  }
  .box3 {
    width: 335px;
    height: 176px;
    grid-area: box3;
  }
  .box4 {
    width: 335px;
    height: 176px;
    grid-area: box4;
  }
  .box5 {
    width: 335px;
    height: 176px;
    grid-area: box5;
  }
  .box6 {
    width: 335px;
    height: 176px;
    grid-area: box6;
  }
  .box7 {
    width: 335px;
    height: 176px;
    grid-area: box7;
  }

  /* why choose us section */
  .why-choose-us {
    width: 90%;
    height: 100%;
    margin: auto;
    margin-top: 24px;
  }

  .why-choose-us-text h4 {
    font-size: 20px;
  }

  why-choose-us-text p {
    font-size: 14px;
    line-height: 24px;
  }

  .choose-us-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    margin-top: 16px;
  }

  .hotel-div {
    width: 268px;
    height: 278px;
  }

  .map-div {
    width: 268px;
    height: 278px;
  }

  .price-tag-div {
    width: 268px;
    height: 278px;
    margin-top: 16px;
  }

  .design {
    font-size: 20px;
  }

  .p-design {
    font-size: 14px;
    line-height: 24px;
  }
}

/* medium devices */

@media screen and (min-width: 600px) and (max-width: 992px) {
  .header {
    width: 90%;
  }
  .banner-text {
    width: 205px;
    margin: auto;
    padding-top: 32px;
  }
  .text h4 {
    font-size: 22px;
  }
  .text p {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    margin-top: 8px;
  }
  .btn-background {
    display: flex;
    flex-direction: column;
    width: 287px;
    height: 290px;
    margin-top: 20px;
  }
  .menu > input {
    width: 255px;
    height: 50px;
    margin-top: 20px;
  }

  .menu > select {
    width: 255px;
    height: 50px;
  }
  .menu > button {
    width: 255px;
    height: 50px;
    margin-bottom: 20px;
  }

  /* popular section start */

  .popular-tour-section {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 24px;
  }
  /* .popular-tour-section-div {
    width: 442px;
  } */

  .popular-tour-section-div h4 {
    font-size: 20px;
  }

  .popular-tour-section-div p {
    font-size: 14px;
    line-height: 24px;
    margin-top: 16px;
  }

  .popular-tour-section-div ul {
    font-size: 14px;
    line-height: 24px;
    margin-left: 18px;
  }

  .popular-tour-section-div button {
    width: 160px;
    height: 50px;
    margin-top: 24px;
    font-size: 20px;
    box-shadow: 1px 2px 9px -1px rgb(82, 82, 82);
  }

  .popular-tour-section-div button:hover {
    box-shadow: 1px 2px 9px 2px black;
    background-color: #f76a23;
  }

  .popular-tour-section-img {
    width: 100%;
    margin-left: 5rem;
  }
  .popular-tour-section-img img {
    width: 80%;
    height: 400px;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    padding: 10px;
  }

  /* Destination section start */

  .choose-your-destination-section {
    width: 90%;
    margin: auto;
    margin-top: 30rem;
  }

  .destination-section-text h4 {
    font-size: 20px;
  }

  .destination-section-text p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 16px;
  }

  .destination-section-img {
    display: grid;
    grid-template-areas:
      "box1"
      "box2"
      "box3"
      "box4"
      "box5"
      "box6"
      "box7";
    gap: 16px;
    margin-top: 16px;
  }
  .destination-section-img img {
    width: 100%;
    height: 100%;
  }
  .box1 {
    width: 335px;
    height: 176px;
    grid-area: box1;
  }

  .box2 {
    width: 335px;
    height: 176px;
    grid-area: box2;
  }
  .box3 {
    width: 335px;
    height: 176px;
    grid-area: box3;
  }
  .box4 {
    width: 335px;
    height: 176px;
    grid-area: box4;
  }
  .box5 {
    width: 335px;
    height: 176px;
    grid-area: box5;
  }
  .box6 {
    width: 335px;
    height: 176px;
    grid-area: box6;
  }
  .box7 {
    width: 335px;
    height: 176px;
    grid-area: box7;
  }

  /* why choose us section */

  .why-choose-us {
    width: 90%;
    height: 100%;
    margin: auto;
    margin-top: 24px;
  }

  .why-choose-us-text h4 {
    font-size: 20px;
  }

  .why-choose-us-text p {
    font-size: 14px;
    line-height: 24px;
  }

  .choose-us-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    align-items: center;
    margin: auto;
    margin-top: 16px;
  }

  .price-tag-div {
    /* width: 268px;
  height: 278px;  */
    margin-top: 16px;
    flex-direction: column;
    justify-content: center;
  }

  /* 
.hotel-div {
  width: 268px;
  height: 278px; 
}

.map-div {
  width: 268px;
  height: 278px; 
}



.design {
font-size: 20px; 
}

.p-design {
font-size: 14px;
line-height: 24px; 
} */
}
